In [6]:
from pandas import read_csv, DataFrame

In [7]:
dataset = read_csv(r"C:\Users\xemme\fyp\scrapers\qualifax_scraper\results.csv", encoding='utf8', low_memory=False)

In [8]:
columns = ['course_content', 'careers_or_further_progression', 'attendance_options', 'course_name', 'location_(districts)']
df = DataFrame([], columns=columns)
for c in columns:
    df[c] = dataset[c]

In [9]:
df.head(5)

,course_content,careers_or_further_progression,attendance_options,course_name,location_(districts)
0,What is... Architecture - M Arch?\nThe Master ...,What are my career opportunities?\nThe qualifi...,"Full time, Daytime",Architecture - Bolton Street,Dublin City Centre
1,What is... Culinary Innovation and Food Produc...,What are my career opportunities?\nGraduates o...,"Full time, Part time",Culinary Innovation and Food Product Developme...,"Dublin City Centre, Grangegorman"
2,What is... Data Science?\nThe Postgraduate Cer...,What are my career opportunities?\nData scienc...,Part time,Data Science - Grangegorman,"Dublin City Centre, Grangegorman"
3,This course provides an introduction to spirit...,NaN,Day release,Spirituality Awareness,Belfast
4,Course Description\n\nIs this course for me?\n...,NaN,Part time,21st Century Teaching and Learning,Dublin City Centre

In [10]:
df['fulldesc'] = ""
for index,row in df.iterrows():
    fulldesc = ""
    for val in row.values:
        if(str(val) != 'nan'):
            fulldesc+=val+' '
    df['fulldesc'].iloc[index] = fulldesc.lower().strip()

In [11]:
cleaned_df = df[df['fulldesc']!='']

In [12]:
# remove words like you'll, we'll, they'll
cleaned_df['fulldesc'] = cleaned_df['fulldesc'].str.replace("'ll", " ")

In [13]:
# remove punctuation
cleaned_df['fulldesc'].head(5)
cleaned_df['fulldesc'] = cleaned_df['fulldesc'].replace({"[^A-Za-z0-9]+": " "}, regex=True)
cleaned_df['fulldesc'] = cleaned_df['fulldesc'].str.strip()

In [14]:
cleaned_df['fulldesc'].head(5)

0    what is architecture m arch the master of arch...
1    what is culinary innovation and food product d...
2    what is data science the postgraduate certific...
3    this course provides an introduction to spirit...
4    course description is this course for me the c...
Name: fulldesc, dtype: object

In [15]:
# convert the textual data into vectors, only fulldesc
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
# removes stop_words like if, the, then, will, common ones
vectorizer = TfidfVectorizer(stop_words='english')

In [17]:
X = vectorizer.fit_transform(cleaned_df['fulldesc'])

In [ ]:
# check for ideal number of clusters using elbow method
wcss = []

for k in range(1,16):
    kmeans = KMeans(n_clusters=k, init='k-means++', max_iter=500, n_init=15)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

In [ ]:
plt.plot(range(1,16),wcss)
plt.title("Elbow Method")
plt.xlabel("Number of clusters")
plt.ylabel("wcss")
plt.show()